.user_menu {
  display: flex;
  justify-content: align-items;
}

.base {
  color: #282c34;
  text-decoration: none;
}
.active {
  color: tomato;
  text-decoration: none;
}
.link {
  margin-right: 20px;
  font-weight: bold;
}
p {
  margin: 0;
  margin-right: 20px;

  padding-top: 12px;
  font-weight: bold;
}
